@import 'colors.scss';

.friend {
  background-color: $main;
  border-radius: 10px;
  color: $white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, ese-in;
  cursor: pointer;
  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  &.is-friend {
    background-color: $dark;
  }
  .friend-details {
    margin-left: 10px;
    flex: 1;
    .friend-toolbar {
      margin-top: 5px;
      a {
        color: $light;
        font-size: 0.8rem;
        display: inline-block;
      }
    }
  }
}
