<sn-form>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <sn-form-control [control]="registerForm.get('fullName')">
      <input type="text" placeholder="Full name" formControlName="fullName" />
    </sn-form-control>
    <sn-form-control [control]="registerForm.get('email')">
      <input type="email" placeholder="Email" formControlName="email" />
    </sn-form-control>
    <sn-form-control [control]="registerForm.get('password')">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </sn-form-control>
    <sn-form-control
      [control]="registerForm.get('confirmPassword')"
      [group]="registerForm"
    >
      <input
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </sn-form-control>
    <div class="button-wrapper">
      <button>
        Register
      </button>
    </div>
  </form>
</sn-form>
