@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  ul.dashboard-menu {
    li {
      display: inline-block;
      margin-left: 10px;
      line-height: 2.5rem;
      @include respond-above(sm) {
        font-size: 1rem;
      }
      @include respond-above(lg) {
        display: block;
      }
      a {
        &.active {
          color: $main;
        }
      }
      &:last-child {
        float: right;
        margin-right: 20px;
        display: none;
        @include respond-above(xs) {
          display: block;
        }
        @include respond-above(lg) {
          margin-top: 20px;
          padding: 10px 0;
          border-top: 2px solid $white;
          float: none;
        }
      }
    }
  }
}
