@import 'colors.scss';

.post-content-head {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border: 2px solid $main;
  padding: 20px;
  background: $main;
  color: $white;
  sn-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  div {
    flex: 1;
    margin-left: 20px;
  }
}
fa-icon {
  position: relative;
  top: 2px;
}
