@import 'colors.scss';

div {
  ul {
    text-align: center;
    margin-bottom: 40px;
    li {
      display: inline-block;
      margin-left: 30px;
      a {
        color: $main;
      }
      &:after {
        content: '';
        margin-top: 5px;
        display: block;
        width: 0;
        height: 2px;
        background: $main;
        transition: width 0.3s;
      }
      &.selected {
        &:after {
          width: 100%;
        }
      }
      a {
        font-size: 1.5rem;
      }
    }
  }
}
