@import 'colors.scss';

input {
  display: none;
}

.image-upload-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: contain;
  fa-icon {
    font-size: 3rem;
    color: $white;
    position: absolute;
    top: 20px;
    left: 27px;
  }
  &:hover {
    opacity: 0.7;
  }
}
