@import 'colors.scss';

div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2em;
  margin: 0 20px;
  p {
    justify-self: start;
    color: $white;
    font-size: inherit;
    margin-right: auto;
  }
  ul {
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
}
