@import 'colors.scss';

:host {
  position: relative;
  margin-left: 20px;
  fa-icon {
    color: $dark;
    font-size: 1.6rem;
    cursor: pointer;
  }
  span {
    position: relative;
    background: $dark;
    padding: 1px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
    margin-left: 10px;
    &:before {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      border-bottom: 8px solid transparent;
      border-top: 8px solid transparent;
      border-right: 8px solid $dark;
      left: -8px;
      top: 6px;
    }
  }
}
