<sn-form>
  <sn-errors></sn-errors>
  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
    <sn-form-control [control]="updateProfileForm.get('fullName')">
      <input type="text" placeholder="Name" formControlName="fullName" />
    </sn-form-control>
    <div formGroupName="preferences">
      <sn-form-control [control]="updateProfileForm.get('preferences.description')">
        <textarea
          rows="10"
          placeholder="Tell us something about you"
          formControlName="description"
          snNullDefault
        ></textarea>
      </sn-form-control>
      <sn-form-control [control]="updateProfileForm.get('preferences.isPublicProfile')">
        <label class="checkbox-wrapper"
          >Is your profile public?
          <input type="checkbox" formControlName="isPublicProfile" />
          <span class="checkmark"></span>
        </label>
      </sn-form-control>
      <sn-form-control [control]="updateProfileForm.get('preferences.linkedIn')">
        <input
          type="text"
          placeholder="Enter you LinkedIn public profile"
          formControlName="linkedIn"
          snNullDefault
        />
      </sn-form-control>
      <sn-form-control [control]="updateProfileForm.get('preferences.twitter')">
        <input
          type="text"
          placeholder="Enter you Twitter public profile"
          formControlName="twitter"
          snNullDefault
        />
      </sn-form-control>
      <sn-form-control [control]="updateProfileForm.get('preferences.github')">
        <input
          type="text"
          placeholder="Enter you Github public profile"
          formControlName="github"
          snNullDefault
        />
      </sn-form-control>
    </div>
    <div class="button-wrapper">
      <button type="submit">Update profile</button>
    </div>
  </form>
</sn-form>
