@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  padding: 20px;
  display: block;
  sn-search-user {
    margin: 0 auto;
    display: block;
  }
  @include respond-above(md) {
    sn-search-user {
      width: 40%;
    }
  }
  .friends-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    sn-friend {
      margin: 2% 0;
      height: 100%;
    }

    @include respond-above(xs) {
      flex-direction: row;

      sn-friend {
        flex: 0 0 46%;
        margin: 2%;
      }
    }

    @include respond-above(lg) {
      sn-friend {
        flex: 0 0 29.3333%;
      }
    }
  }
}
