@import 'colors.scss';

.friend-requests {
  background-color: $contrast;
  border-radius: 10px;
  color: $white;
  padding: 10px;
  .friend {
    display: flex;
    align-items: center;
    margin: 10px 0;
    sn-avatar {
      border-radius: 50%;
    }
    .request {
      margin-left: 10px;
      a {
        color: $dark;
        font-size: 0.8rem;
        text-decoration: underline;
      }
    }
  }
}
