@import 'colors.scss';

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 100px;
  height: 100%;
  margin: 0 auto;

  sn-site-layout-header,
  sn-site-layout-footer {
    background-color: $main;
  }
}
