@import 'colors.scss';

:host {
  display: block;
  article {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 20px 0;
    position: relative;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      fa-icon {
        &.trash {
          display: inline;
          color: $white;
        }
      }
    }
    hr {
      margin-bottom: 20px;
      border: 1px solid $main;
    }
    fa-icon {
      &.trash {
        position: absolute;
        right: 25px;
        top: 25px;
        display: none;
        cursor: pointer;
      }
    }
    .comments {
      padding: 20px;
    }
    .show-more {
      font-weight: 1.4rem;
      text-align: right;
      margin-top: 10px;
      cursor: pointer;
    }
    footer {
      display: flex;
    }
  }
}
