@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  display: block;
  padding: 20px;

  h4 {
    margin: 20px 0;
  }

  hr {
    margin: 20px 0;
    border: 1px solid $main;
  }

  a {
    color: $main;
  }

  @include respond-above(md) {
    padding: 20px 10%;
  }

  @include respond-above(lg) {
    padding: 20px 20%;
  }
}
