@import 'colors.scss';

a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  fa-icon {
    font-size: 2.5rem;
    color: $white;
    text-decoration: none;
  }
  p {
    font-size: 2.5rem;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Knewave', cursive;
  }
}
