@import 'colors.scss';
@import 'breakpoints.scss';

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px repeat(3, auto) 50px;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'aside'
    'footer';

  header {
    grid-area: header;
    background: $main;
    height: 50px;
  }

  nav {
    grid-area: nav;
    background-color: $contrast;
    padding: 20px 10px;
  }

  main {
    grid-area: main;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
    background-color: $main;
  }

  @include respond-above(sm) {
    height: 100vh;
    grid-template-columns: minmax(150px, 200px) 5fr minmax(300px, 2fr);
    grid-template-rows: 50px auto 1fr 50px;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'main main aside'
      'footer footer footer';
  }

  @include respond-above(lg) {
    height: 100vh;
    grid-template-columns: minmax(150px, 200px) 5fr minmax(200px, 300px);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header header header'
      'nav main aside'
      'footer footer footer';
  }
}

:host-context(.grid) {
  nav,
  aside,
  footer {
    display: none;
  }

  grid-template-rows: 50px repeat(3, auto);

  grid-template-areas:
    'header header header'
    'main main main';
}
