@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Knewave');

html {
  height: 100%;
  overflow-y: auto !important;

  body {
    background-color: $white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    height: 100%;
    color: $main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  small {
    font-size: 0.8rem;
  }

  b {
    font-weight: bold;
  }

  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Remove outlines for tab focus
:focus {
  outline: 0;
}

// Beautiful scrollbars
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $main;
}
