@import 'colors.scss';

:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  .content {
    h1 {
      font-size: 4rem;
      margin: 20px 0;
    }

    h2,
    p {
      margin: 10px 0;
    }

    hr {
      border-color: $main;
      margin: 20px 0;
    }

    a {
      color: $main;
      display: block;
      font-size: 1.2rem;
      margin: 10px 0;
    }
  }
}
